{% extends 'base.html.twig' %}

{% block title %}Sondaż wyborczy{% endblock %}

{% block body %}
    <h1>Sondaż wyborczy</h1>
    <h2>Na kogo zagłosujesz w najbliższych wyborach parlamentarnych?</h2>
    <button class="btn btn-primary">Test</button>
{% endblock %}
